*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.hero-section {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(24, 24, 19, 0.2), rgb(10, 10, 10,0.6)), url(./Images/image-14.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    position: relative;
}

.nav-icon {
    width: 80px;
    height: 60px;
}

.nav-elements {
    display: flex;
    list-style-type: none;
    gap: 0 30px;
    padding-left: 30px;
}

.nav-element {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding-top: 10px;
    text-transform: uppercase;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 2px;
    text-shadow: 6px 6px 6px black;
}
.hero-content {
    position: absolute;
    bottom: 420px;
}

.hero-content-1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Prompt', sans-serif;
    text-shadow: 3px 3px 3px black;
}
.hero-content-2{
    color: white;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px 3px black;
}
.hero-sub-content{
    position: absolute;
    top: 360px;
    display: flex;
    flex-direction: column;
}
.form-input-1{
    padding: 20px 100px 20px 15px;
    margin-right: 20px;
    border: 0px;
}
.form-input-2 {
    padding: 20px 100px 20px 15px;
    border: 0px;
}
.text-input{
    padding: 20px;
    margin-top: 20px;
    border: 0px;
}
.text-button{
    width: 170px;
    position: absolute;
    top: 300px;
    left: 200px;
    padding: 15px 15px;
    background-color: rgb(234, 11, 164);
    color: white;
    border: 0px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section-two{
    width: 100vw;
    height: 40vh;
    background:linear-gradient(to bottom, rgb(12, 12, 11), rgb(10, 10, 10, 1)) ;
}
.image-section-1 {
    width: 400px;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.image-section-one {
    width: 500pxpx;
    display: flex;
    color: white;
    position: absolute;
    top: 80px;
    left: 60px;
}

.icon-1 {
    padding-right: 30px;
    font-size: 30px;
    color: rgb(234, 11, 164,0.8);
}

.heading {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
}

.content {
    font-size: 13px;
    font-family: 'Urbanist', sans-serif;
    line-height: 20px;
    letter-spacing: 1px;
}

.image-section-2 {
    width: 460px;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.image-section-3 {
    width: 460px;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.image-section-first {
    display: flex;
    padding-left: 70px;
}
.four-title {
    text-align: center;
    font-family: 'REM', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 100px;
}

.four-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: grey;
}
hr {
    width: 100px;
    margin: 20px auto;
    border-color: rgb(181, 5, 126);
    border-width: 2px;
    border: 2px solid rgb(234, 11, 164);
}
.pictures{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0px 120px 0px;
}
.picture-1{
    height: 410px;
    width: 400px;
    background: linear-gradient(to bottom, rgb(12, 12, 11,0.1), rgb(10, 10, 10, 0.2)),url(./Images/image-16.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.picture-2 {
    height: 410px;
    width: 400px;
    background: linear-gradient(to bottom, rgb(12, 12, 11, 0.4), rgb(10, 10, 10, 0.8)), url(./Images/image-17.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.picture-3 {
    height: 410px;
    width: 400px;
    background: linear-gradient(to bottom, rgb(12, 12, 11, 0.4), rgb(10, 10, 10, 0.8)), url(./Images/image-18.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.pic-button{
    margin-top: 180px;
    padding: 18px 30px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    border: 0;
    font-size: 12px;
    font-weight: bold;
}
.pic-button:hover{
    color: white;
    background-color: rgb(234, 11, 164);
}
.section-five {
    height: 60vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
}

.section-five-1 {
    height: 60px;
    width: 100vw;
    background-color: white;
}

.contents-5 {
    display: flex;
    color: white;
    justify-content: space-evenly;
    padding-top: 80px;
}

.content-5 {
    padding-top: 80px;
}

.content-5-1 {
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.number {
    color: rgb(234, 11, 164);
}

.content-5-2 {
    font-family: 'Hind Madurai', sans-serif;
    line-height: 25px;
    font-size: 15px;
    width: 400px;
    padding-left: 20px;
}

.section-five-3 {
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    background-color: rgb(234, 11, 164);
    width: 1200px;
    justify-content: space-around;
    letter-spacing: -1px;
    position: absolute;
    margin-top: -340px;
    left: 170px;
}

.form-section {
    font-size: 35px;
}

.user-input {
    padding: 15px 100px 15px 10px;
}
.section-six {
    width: 100vw;
    height: 60vh;
    background-color: rgba(15, 14, 14, 0.9);
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
}

.small-image {
    width: 60px;
    height: 70px;
    border-radius: 5px;
    margin-right: 20px;
}

.small-sec-title {
    text-transform: uppercase;
    color: gray;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.small-section-one {
    display: flex;
    margin-top: 20px;
}

.small-section-content {
    padding-top: 15px;
    color: rgba(75, 74, 74, 0.9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.small-sec-1 {
    color: gray;
}

.list-title {
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.list-item {
    text-decoration: none;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    line-height: 30px;
}

.list-items {
    list-style-type: none;
}

.list-item:hover {
    color: rgb(171, 6, 119);
}
.section-seven {
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.bottom-nav {
    display: flex;
    gap: 0 15px;
    list-style-type: none;
}

.bottom-nav-element {
    color: white;
    text-decoration: none;
}

.bottom-nav-element:hover {
    color: gray;
}

.up-arrow {
    color: white;
    padding-left: 30px;
}

@media (max-width:1200px){
    .hero-section{
        width: 1370px;
        height: 930px;
    }
    .nav-element{
        font-size: 18px;
    }
    .hero-content{
       bottom: 540px;
    }
    .hero-sub-content{
        top: 440px;
    }
    .text-input{
        height: 280px;
    }
    .text-button{
        top: 400px;
    }
    .section-two{
        width: 1370px;
        height: 400px;
    }
    .image-section-first{
        padding-top: 40px;
        padding-left: 10px;
    }
    .heading{
        font-size: 28px;
    }
    .content{
        font-size: 18px;
        line-height: 25px;
    }
    .section-three{
        width: 1370px;
    }
        .section-three-1 {
            margin-left: 120px;
            padding-bottom: 40px;
        }
    .four-title{
        font-size: 35px;
        padding-bottom: 20px;
    }
    .four-content{
        font-size: 30px;
        padding-top: 20px;
    }
    .section-five{
        width: 1370px;
        height: 500px;
    }
    .section-five-1{
        width: 1370px;
    }
    .section-five-3{
        margin-top: -400px;
            left: 220px;
            width: 1000px;
    }
    .content-5-1{
        font-size: 28px;
    }
    .content-5-2{
        font-size: 18px;
        line-height: 30px;
    }
    .section-six{
        width: 1370px;
    }
    .section-seven{
        width: 1370px;
    }
}

@media (max-width:800px){
   .hero-section{
    height: 1480px;
   }
   .nav-element{
    font-size: 20px;
   }
   .hero-content{
    top: 400px;
   }
   .hero-content-1{
    font-size: 60px;
   }
   .hero-content-2{
    font-size: 30px;
    padding-bottom: 30px;
   }
   .hero-sub-content{
    top: 550px;
    margin-top: 100px;
   }
   .form-input-1 {
       padding: 40px 200px 40px 30px;
       margin-right: 40px;
       border: 0px;
       width: 600px;
   }

   .form-input-2 {
        padding: 40px 200px 40px 30px;
       border: 0px;
       width: 600px;
   }

   .text-input {
       padding: 20px;
       margin-top: 60px;
       border: 0px;
       height: 350px;
   }
   .text-button{
        width: 250px;
        top: 580px;
        left: 500px;
        padding: 25px 30px;
        font-size: 18px;
   }
   .section-two{
    height: 550px;
   }
   .heading{
    font-size: 35px;
   }
   .content{
    padding-top: 20px;
    font-size: 25px;
    line-height: 35px;
   }
   
   .four-title{
    font-size: 50px;
   }
   hr{
    border-width: 3px;
    width: 200px;
   }
   .four-content{
    font-size: 35px;
   }
   .section-three-1{
    margin-left: 10px;
   }
   .pictures{
    display: block;
    margin-top: 50px;
   }
   .picture-1{
    margin-left: 80px;
    margin-bottom: 40px;
    height: 500px;
    width: 1200px;
   }
   .picture-2 {
       margin-left: 80px;
       height: 500px;
    margin-bottom: 40px;
       width: 1200px;
   }
   .picture-3 {
       margin-left: 80px;
    margin-bottom: 40px;
       height: 500px;
       width: 1200px;
   }
   .pic-button{
    padding: 30px 70px;
    font-size: 20px;
   }
   .section-five{
    height: 700px;
   }
   .content-5{
    margin: auto 30px;
   }
   .content-5-1{
    font-size: 35px;
   }
   .content-5-2{
    font-size: 25px;
    line-height: 40px;
   }
   .section-five-3{
    margin-top: -560px;
    left: 170px;
    padding: 60px ;
   }
   .section-six {
       height: 600px;
       font-size: 40px;
   }

   .section-seven {
       font-size: 20px;
       flex-direction: column;
       height: 200px;
   }
}

@media (max-width:500px){
    .hero-section{
        width: 100%;
        height: 1200px;
    }
    .nav-elements{
        display: inline;
    }
    .nav-element{
        font-size: 13px;
        line-height: 20px;
    }
    .hero-content{
        position: absolute;
        top: 300px;
        height: 100px;
    }
    .hero-content-2{
        font-size: 18px;
    }
    .hero-content-1{
        font-size: 30px;
        
    }
    .hero-sub-content{
        width: 400px;
        margin-top: -30px;
    }
    .form-input-1{
        width: 400px;
        height: 55px;
        margin-bottom: 20px;
    }
        .form-input-2 {
            width: 400px;
            height: 55px;
        }
        .text-input{
            margin-top: 20px;
            height: 235px;
        }
    .text-button{
    top: 500px;
    left: 70px;
    }
    .section-two{
        width: 100%;
        height: 1000px;
    }
    .heading{
        font-size: 25px;
        
    }
    .content{
        font-size: 18px;
        line-height: 25px;
    }
    .image-section-first{
        display: block;
    }
    .section-three{
        width: 100%;
    }
    .section-three-1{
        padding-bottom: 0px;
    }
    .four-title{
        font-size: 28px;
    }
    .four-content{
        font-size: 20px;
        display: block;
        text-align: center;
    }
    .pictures{
        padding-bottom: 30px;
        margin-top: 0px;
    }
    .picture-1{
        width: 470px;
        height: 260px;
        margin-left: 15px;
    }
        .picture-2 {
            width: 470px;
            height: 260px;
            margin-left: 15px;
        }
                .picture-3 {
                    width: 470px;
                    height: 260px;
                    margin-left: 15px;
                }
    .pic-button{
        margin-top: 100px;
        padding: 10px 30px;
        font-size: 10px;
    }
        .section-five {
            width: 100%;
            height: 1000px;
        }
    
        .section-five-1 {
            width: 100%;
        }
    
        .section-five-3 {
            display: block;
            width: 450px;
            text-align: center;
            top: 600px;
            left: 20px;
            padding: 30px 0px;
        }
    
        .contents-5 {
            display: block;
        }
    
        .content-5-1 {
            font-size: 25px;
        }
    
        .content-5-2 {
            font-size: 20px;
            line-height: 30px;
        }
                .section-six {
                    width: 100%;
                    height: 1500px;
                    display: block;
                }
        
                .list-title {
                    font-size: 15px;
                    line-height: 30px;
                    padding-bottom: 0px;
                    padding-top: 10px;
                    color: black;
                }
        
                .list-item {
                    line-height: 20px;
                    font-size: 15px;
                }
        
                .section-seven {
                    width: 100%;
                    height: 100px;
                    font-size: 15px;
                }
}